<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FixIt - Maintenance Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'login' %}">FixIt Tracker</a>
                <h1>Welcome, {{user.username}}</h1>
                <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="navbar-brand" href="{% url 'ticket-create' %}">New Ticket</a>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Logout</a>
                </form>
        </div>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>